<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragment :: html_header"></head>

<body>
<header th:replace="fragments/fragment :: header"></header>
<main th:replace="fragments/fragment :: login-info"></main>
<main role="main" class="container" style="padding-top: 0px !important;">
    <h1 class="mt-5">Student not found</h1>
    <h3 th:text="'NPM = ' + ${npm}">Student NPM</h3>
</main>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>
